.nav-Nav{
    display: flex;
    justify-content: space-evenly;
    background-color: green;
    padding: 15px 0px;
}

.nav-links {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.nav-links a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

footer {
    padding: 30px;
    background: green;
    text-align: center;
}